@using Newtonsoft.Json
@model JulJul.Web.Models.UserViewModel
    
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m=>m.User.Fullname)
        @Html.TextBoxFor(m=>m.User.Fullname)
    </div>
    <div>
        @Html.LabelFor(m => m.User.Username)
        @Html.TextBoxFor(m => m.User.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.User.Password)
        @Html.TextBoxFor(m => m.User.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.User.LanguageId)
        @Html.TextBoxFor(m => m.User.LanguageId)
    </div>
    <div>
        @Html.LabelFor(m => m.User.Id)
        @Html.TextBoxFor(m => m.User.Id)
    </div>
    <input type="submit" value="Add" name="btnAdd"/>
    <input type="submit" value="Save" name="btnSave"/>
    <input type="submit" value="Delete" name="btnDelete"/>
}
 
@if (Model.List != null)
{
    foreach (var ud in Model.List)
    {
        <div>
            @JsonConvert.SerializeObject(ud)
        </div>
   
    }

}